:root {
  --color-white: #f5f5f5;
  --color-white-secondary: #e0e0e0;
  --color-black: #1e3136;
  --color-black-secondary: #9e9e9e;
  --color-accent: #486a7c;

  --primary-light: var(--color-black);
  --primary-dark: var(--color-white);
  --secondary-light: var(--color-white-secondary);
  --secondary-dark: var(--color-black-secondary);

  --drop-shadow-dark: rgba(24, 24, 24, 0.8);
  --drop-shadow-light: rgba(240, 240, 240, 0.8);

  --vt-c-white: var(--color-white);
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: var(--color-black);
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-divider-light-1: rgba(34, 62, 68, 0.85);
  --vt-c-divider-light-2: rgba(34, 62, 68, 0.652);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--color-black);
  --vt-c-text-light-2: var(--color-black-secondary);
  --vt-c-text-dark-1: var(--color-white);
  --vt-c-text-dark-2: var(--color-white-secondary);
}

:root {
  --font-large: 1.5rem;
  --font-regular: 1rem;
  --font-small: 0.7rem;
  --font-mini: 0.5rem;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("SF Pro Text"), url("/src/fonts/SF\ Pro/SF-Pro-Text-Bold.otf");
}

body {
  color: var(--color-text);
  background-color: #1e3136;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "SF Pro Text", Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}
