.rounded-corner {
  border-radius: 48px;
  padding: 24px;
}

/* gradient shadow from https://alvarotrigo.com/shadow-gradients/ */
.box-shadow {
  transform: scale(1);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.box-shadow::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #ff1cf7aa -50%, #40f9fff7 116%);
  transform: translate3d(0px, 23px, 0) scale(0.97);
  filter: blur(50px);
  opacity: var(0.26);
  transition: opacity 0.3s;
  border-radius: inherit;
}
.box-shadow::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
